    {% extends "index.html" %}
 <!-- pagina de los desarrolladores -->
    {%block contenido%}
    <div class="container-desa">
        <h1>Scrum Master</h1>
        <div class="scrum">
            <div class="dat especial">
                <div class="img">
                    <img src="{{url_for('static', filename='img/desarrolladores/Enmanuel.jpg')}}" alt="">
                </div>
                <div class="name">
                    <h2>Enmanuel Nuñez Ferrera</h2>
                </div>
            </div>
        </div>
        <div class="pesca">
        <h2 class="dddd">Desarrolladores del Proyecto PICLEHS</h2>

        <div class="cont-datt">
            <div class="dat">
                <div class="img">
                    <img src="{{url_for('static', filename='img/desarrolladores/stanley copia.jpg')}}" alt="">
                </div>
                <div class="name">
                    <h2>Stanley Abreu</h2>
                </div>
            </div>
            <div class="dat">
                <div class="img">
                    <img src="{{url_for('static', filename='img/desarrolladores/joshua.jpg')}}" alt="">
                </div>
                <div class="name">
                    <h2>Joshua Emil Peña Rosario</h2>
                </div>
            </div>
            <div class="dat">
                <div class="img">
                    <img src="{{url_for('static', filename='img/desarrolladores/luisjose.jpg')}}" alt="">
                </div>
                <div class="name">
                    <h2>Luis José Castillo Bueno</h2>
                </div>
            </div>
        </div>
    </div>
    </div>
    {%endblock%}
